<<<<<<< HEAD
<h1>New order</h1>
<div class= "depot_form">
	<fieldset>
		<legend><%= t('.legend')%></legend>
		<%= render 'form' %>
	</fieldset>
</div>
	
=======

<div class="depot_form">
	<fieldset>
		<legend>Please Enter Your Details</legend>
		<%= render 'form' %>
    </fieldset>
</div>
>>>>>>> c6290dc12a73ecc7a81fd35dfb55a42b829b4c10

<%= link_to 'Back', orders_path %>
